name: CI

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: "0 4 * * 6"

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.8", "3.9", "3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: pip install poetry && poetry install
      - name: Run lint
        run: make lint
      - name: Run tests
        run: make test
        env:
          TGTG_PASSWORD: ${{secrets.TGTG_PASSWORD}}
          TGTG_EMAIL: ${{secrets.TGTG_EMAIL}}
      - name: Upload coverage to Codecov
        run: pip install codecov && codecov --token=${{secrets.CODECOV_TOKEN}}
